.about {

  &__col {
    color: white;
    margin: 0 1rem 5rem 9rem;

    p {
      font-size: 3.6rem;
      line-height: 1.2;
      font-weight: bold;
    }

    @media ($tab) {
      margin-bottom: 2rem;

      p {
        font-size: 2rem;
      }
    }

    @media (max-height: 500px) {
      margin-bottom: 2rem;

      p {
        font-size: 2rem;
      }
    }

    @media ($mob) {
      p {
        line-height: 2;
        font-size: 1.2rem;
      }

      &:nth-child(1), &:nth-child(2) {
        margin: 0 1.5rem;
        padding: 0;
        flex-basis: auto;
      }
    }


  }

  &-page {
    &.body {
      height: 100vh;
    }
  }

}