.body {
  background-color: black;
  font-family: 'Gotham Pro';
  position: relative;

  &.contacts-page {
    background-image: url(../img/contacts/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}