@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  src: url("../img/fonts/GothamPro-Light.eot?") format("eot"),
  url("../img/fonts/GothamPro-Light.otf")  format("opentype"),
  url("../img/fonts/GothamPro-Light.woff") format("woff"),
  url("../img/fonts/GothamPro-Light.ttf")  format("truetype"),
  url("../img/fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: italic;
  src: url("../img/fonts/GothamPro-LightItalic.eot?") format("eot"),
  url("../img/fonts/GothamPro-LightItalic.otf")  format("opentype"),
  url("../img/fonts/GothamPro-LightItalic.woff") format("woff"),
  url("../img/fonts/GothamPro-LightItalic.ttf")  format("truetype"),
  url("../img/fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic") format("svg");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: bold;
  src: url("../img/fonts/GothamPro-Bold.eot?") format("eot"),
  url("../img/fonts/GothamPro-Bold.otf")  format("opentype"),
  url("../img/fonts/GothamPro-Bold.woff") format("woff"),
  url("../img/fonts/GothamPro-Bold.ttf")  format("truetype"),
  url("../img/fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: italic;
  font-weight: bold;
  src: url("../img/fonts/GothamPro-BoldItalic.eot?") format("eot"),
  url("../img/fonts/GothamPro-BoldItalic.otf")  format("opentype"),
  url("../img/fonts/GothamPro-BoldItalic.woff") format("woff"),
  url("../img/fonts/GothamPro-BoldItalic.ttf")  format("truetype"),
  url("../img/fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic") format("svg");
}