.work {
  display: block;
  width: 50%;
  position: relative;
  transition: all 100ms linear;

  &:nth-child(n+2) {
    margin-top: -5%;
  }

  &:nth-child(odd) {
    left: 10%;
  }

  &:nth-child(even) {
    left: 40%;
  }

  &-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 3.7vw;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    padding: 0 0.5rem;
    width: 100%;
    text-align: center;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    opacity: 0;
    visibility: hidden;
  }

  &.non-active {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  &:not(.single):hover {
    z-index: 99999;
    font-style: italic;
  }

  &:hover &-info {
    transition-duration: 1s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    opacity: 1;
    visibility: visible;
  }

  &-name {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  &-title {
    margin: 3rem 9rem 3rem 9rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 3rem;
    text-align: center;

    &_sub {
      display: block;
    }
  }

  &-description {
    margin: 0 9rem 6rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
  }

  &-hashtag-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0.5rem;

    &:hover {
      text-decoration: none;
      font-style: italic;
      color: white;
    }
  }

  &__video {
    width: 100%;
  }

  &.single {

    margin: 0;
    left: auto;
    width: 100%;

  }

  @media ($mob) {
    width: 65%;

    &:nth-child(odd) {
      margin-left: 2.5rem;
      left: auto;
    }

    &:nth-child(even) {
      margin-right: 2.5rem;
      margin-left: auto;
      left: auto;
    }

    &:nth-child(n+2) {
      margin-top: 10%;
    }

    &-name {
      font-size: 0.9rem;

      &_even {
        text-align: left;
      }

      &_odd {
        text-align: right;
      }
    }

    &-title {
      margin: 1rem 2.5rem;
      font-size: 1.2rem;
      display: block;
      text-align: left;

      &_sub {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }

    &-description {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      text-transform: none;
      font-weight: normal;
      text-align: left;
    }

    &.single {

      margin: 0;
      left: auto;
      width: 100%;

    }
  }
}