@import "common/breakpoints";

.marquee {
  overflow: hidden;

  &__wrapper {
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
  }

  @media ($mob) {
    &__logo {
      max-height: 90px;
    }
  }

  .work-hashtag-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0.5rem;

    &:hover {
      text-decoration: none;
      font-style: italic;
      color: white;
    }
  }
}
