

@media screen and (max-width: 1100.98px) {
    .navbar .navbar-text {
        margin-left: 2rem!important;
    }
}

@media screen and (max-width: 767.98px) {

    .m-min-vh-75 {
        min-height: 75vh !important;
    }

    .page-title {
        margin: 3rem 2.5rem 3rem 0;
        text-align: right;
        font-size: 2rem;
    }

    .about > .row > .col > p {
        line-height: 1.1;
        font-size: 1rem;
    }

    .contacts,
    .about > .row > .col:nth-child(1),
    .about > .row > .col:nth-child(2) {
        margin: 0 2.5rem;
        padding: 0;
    }

    .contacts > a:nth-of-type(1) {
        margin-left: 0;
    }

    .about > .row > .col:nth-child(1),
    .about > .row > .col:nth-child(2) {
        width: 100%;
        flex-basis: auto;
    }

    .works > a:nth-child(odd) {
        margin-left: 2.5rem;
        left: auto;
    }

    .works > a:nth-child(even) {
        margin-right: 2.5rem;
        margin-left: auto;
        left: auto;
    }

    .works > a {
        width: 65%;
    }

    .works > a:nth-child(n+2) {
        margin-top: 10%;
    }

    .works > a > .work-name {
        font-size: 0.9rem;
    }

    .works > a > .work-name_even {
        text-align: left;
    }

    .works > a > .work-name_odd {
        text-align: right;
    }

    .work-title {
        margin: 1rem 2.5rem;
        font-size: 1.2rem;
    }

    .work .work-title_sub {
        text-align: left;
        font-size: 1.4rem;
        line-height: 1.3;
    }

    .work-description {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        text-transform: none;
        font-weight: normal;
        text-align: left;
    }

    .navbar-toggler {
        height: 1.2rem;
        width: 2rem;
        position: relative;
        display: flex;
        align-items: center;
    }

    .navbar-collapse.collapse {
        transition: all 0.4s linear;
        opacity: 0;
        visibility: hidden;
        display: block;
    }

    .navbar-collapse .nav-link {
        margin-right: 2rem!important;
        font-size: 1.2rem;
    }

    .navbar-toggler.is-active + .navbar-collapse.collapse {
        opacity: 1;
        visibility: visible;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-collapse.collapsible-item {
        position: absolute;
        top: 49px;
        height: 100vh;
        width: calc(100% + 1rem);
        left: -0.5rem;
        z-index: 1000;
    }

    .navbar-toggler__line,
    .navbar-toggler:before,
    .navbar-toggler:after {
        width: 100%;
        height: 0.12rem;
        background-color: white;
        left: 0;
    }

    .navbar-toggler__line {
        position: relative;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    .navbar-toggler:before,
    .navbar-toggler:after {
        content: '';
        position: absolute;
        transition: all 0.4s ease-in-out;
        transform-origin: center;
    }

    .navbar-toggler:before {
        top: 0;
    }

    .navbar-toggler:after {
        bottom: 0;
    }

    .navbar-toggler.is-active .navbar-toggler__line {
        opacity: 0;
    }

    .navbar-toggler.is-active:before {
        transform: rotate(45deg);
        top: 0.6rem;
    }

    .navbar-toggler.is-active:after {
        transform: rotate(-45deg);
        bottom: 0;
        top: 0.6rem;
    }

    .navbar-brand > img {
        height: 1.2rem;
    }

    .navbar .navbar-text {
        display: none;
    }

    .syndicate-logline {
        font-size: 5vw;
        max-width: 100%;
    }

    .marquee__logo {
        max-height: 90px;
    }

    .work .work-title {
        display: block;
    }
}