@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    src: url("../img/fonts/GothamPro-Light.eot?") format("eot"),
    url("../img/fonts/GothamPro-Light.otf")  format("opentype"),
    url("../img/fonts/GothamPro-Light.woff") format("woff"),
    url("../img/fonts/GothamPro-Light.ttf")  format("truetype"),
    url("../img/fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    src: url("../img/fonts/GothamPro-LightItalic.eot?") format("eot"),
    url("../img/fonts/GothamPro-LightItalic.otf")  format("opentype"),
    url("../img/fonts/GothamPro-LightItalic.woff") format("woff"),
    url("../img/fonts/GothamPro-LightItalic.ttf")  format("truetype"),
    url("../img/fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic") format("svg");
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: bold;
    src: url("../img/fonts/GothamPro-Bold.eot?") format("eot"),
    url("../img/fonts/GothamPro-Bold.otf")  format("opentype"),
    url("../img/fonts/GothamPro-Bold.woff") format("woff"),
    url("../img/fonts/GothamPro-Bold.ttf")  format("truetype"),
    url("../img/fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: bold;
    src: url("../img/fonts/GothamPro-BoldItalic.eot?") format("eot"),
    url("../img/fonts/GothamPro-BoldItalic.otf")  format("opentype"),
    url("../img/fonts/GothamPro-BoldItalic.woff") format("woff"),
    url("../img/fonts/GothamPro-BoldItalic.ttf")  format("truetype"),
    url("../img/fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic") format("svg");
}


body {
    background-color: black;
    font-family: 'Gotham Pro';
    position: relative;
}

p {
    font-size: 1.2rem;
}



.page-title {
    margin: 3rem 0 3rem 18rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
}

p.copyright {
    margin-bottom: 0;
    margin-top: 6rem;
}



.under-showreel {
    background-color: black;
    position: relative;
}



.about > .row > .col {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 6rem;
}

.about > .row > .col:nth-child(1) {
    margin-left: 9rem;
}

.about > .row > .col:nth-child(2) {
    margin-right: 9rem;
}



.contacts {
    margin-left: 9rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 6rem;
}

.contacts > a:nth-of-type(1) {
    margin-left: 9rem;
}

.contacts > a > img {
    width: 1.2rem;
    margin-right: 0.3rem;
}

.contacts-motto {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 5rem;
    white-space: nowrap;
    margin-right: 9rem;
}



.work-title {
    margin: 3rem 9rem 3rem 9rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 3rem;
}

.work-description {
    margin: 0 9rem 6rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
}

.work-hashtag-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0.5rem;
}

.work-hashtag-link:hover {
    text-decoration: none;
    font-style: italic;
    color: white;
}

.unmute-button {
    position: absolute;
    left: 50px;
    top: 100%;
    margin-top: -50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}



.navbar-brand {
    margin-top: .2rem;
}

.navbar-brand > img {
    height: 0.81rem;
}

.navbar-brand, .navbar-brand:hover {
    color: white;
}

.navbar-flex-1-section {
    flex: 1 !important;
}

.nav-item, .navbar-text {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-style: italic;
}

.nav-link {
    color: white;
    padding: 0.5rem;
    font-style: normal;
}

.nav-link:hover {
    color: white;
    font-style: italic;
}

.nav-language-switcher {
    font-weight: normal;
    font-style: normal;
}

.navbar {
    z-index: 1000;
}

.black-back {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: black;
}

.black-back.show {
    opacity: 1;
    visibility: visible;
}

.work__video {
    width: 100%;
}

.work .work-title {
    display: none;
}

.work .work-title_sub {
    display: block;
    text-align: center;
}

.showreel-scrolling {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
}

.navbar {
    margin-top: 0!important;
}

.portfolio .works > .work > .work-name {
    font-size: 1.1rem;
}

.portfolio .works > .work > .work-name_even {
    text-align: left;
}

.portfolio .works > .work > .work-name_odd {
    text-align: right;
}